#map {
    height: 500px;
    width: auto;
}

.spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
}

.refImg {
    width: 25%;
    height: 25%;
    border-radius: 50px;
    margin-bottom: 15px;
    float: right;
}

.fighterImg {
    width: 25%;
    height: 25%;
    border-radius: 50px;
    margin-bottom: 15px;
    float: right;
}

.venueImg {
    width: 25%;
    height: 25%;
    border-radius: 50px;
    margin-bottom: 15px;
    float: right;
}

.fighterIcon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}

.refIcon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}